*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;

    background:linear-gradient(
        135deg,
        #041C5A,
        #0B3D91,
        #02133B
    );
}

.card{
    width:700px;
    max-width:95%;

    background:white;

    padding:50px;

    border-radius:25px;

    text-align:center;

    box-shadow:
        0 20px 40px rgba(0,0,0,.25);
}

.logo{
    width:250px;
    margin-bottom:15px;
}

h1{
    color:#041C5A;
    font-size:56px;
    margin-bottom:15px;
}

.descricao{
    color:#555;
    font-size:15px;
    line-height:1.7;
    margin-bottom:35px;
    margin-top:35px;
}

.info-box{
    background:#f4f7ff;

    border-radius:15px;

    padding:25px;

    margin-bottom:30px;
}

.info-box h3{
    color:#041C5A;
    margin-bottom:20px;
}

.membro{
    padding:15px;

    font-size:18px;

    border-bottom:1px solid #dcdcdc;
}

.membro:last-child{
    border-bottom:none;
}

.detalhes{
    display:flex;
    justify-content:center;
    gap:20px;

    flex-wrap:wrap;
}

.item{
    background:#041C5A;

    color:white;

    padding:12px 20px;

    border-radius:10px;

    font-size:16px;
}