.sidebar{
    width:250px;
    min-height:100vh;

    background:#041C5A;

    display:flex;
    flex-direction:column;

    padding:20px;
}

.sidebar h2{
    color:white;
    margin-bottom:30px;
}

.menu-item{
    color:white;

    text-decoration:none;

    padding:12px;

    border-radius:8px;

    margin-bottom:10px;

    transition:.3s;
}

.menu-item:hover{
    background:#0B3D91;
}